/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CSS Colour Palette Styles */
:root {
       --primary-background: #eae6eaff;
       --primary-button: #ffbe0bff;
       --secondary-sub-heading-background: #8093f1ff;
       --secondary-button: #fb5607ff;
       --primary-text: #054a91ff;
}




h1 {
    font-family: 'Barriecito', cursive;
    font-size: 2.5em;
    color: var(--vista-blue);
}

body{ 
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--primary-background);

}